.vs/Redis.NetCore/v14/.suo
src/Redis.NetCore/bin/
src/Redis.NetCore/obj/
src/Redis.Core.Tests/project.lock.json
src/Redis.Core.Tests/obj/
.vs/
*.user
src/Redis.Core.Tests/bin/
src/Redis.NetCore/project.lock.json
/mscorlib.pdb/B116D8310B3C4CABAC347D63A116D3E51
/SOS.NETCore.pdb/4F3CDEC4FFCE41C1A109003DCFBBB2251/SOS.NETCore.pdb
src/Redis.NetCore.Tests/obj/
src/Redis.NetCore.Tests/bin/
src/Redis.NetCore.Tests/project.lock.json
